body {
  background: linear-gradient(to bottom, #070707 0%, #3534345b 100%);
}

.profile {
  background-color: rgba(219, 210, 210, 0.875);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin: 185px auto;
    animation: fadeIn 0.5s;
  
    @media (max-width: 768px) {
      padding: 10px;
      width: 80%;
      margin: 90px auto;
    }
  
    .profile-info {
      text-align: left;
      margin-top: 15px;
  
      p {
        margin-bottom: 10px;
        color: #333;
  
        strong {
          /* color: #a00ef4; */
          background: linear-gradient(to right, #61128f, #db0e74de); /* Add gradient text effect */
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
        }
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
 