.course-study-page {
    padding: 50px 0;
    background: linear-gradient(to bottom, #090a0a 0%, #5d5c5c 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  
    h2 {
      font-size: 35px;
      color: #fff;
      text-align: center;
    }
  
    p {
      font-size: 25px;
      color: #fff;
      text-align: center;
    }
  
    h5 {
      font-size: 25px;
      color: #fff;
      text-align: center;
    }
  
    a {
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      padding: 1px 20px;
      border: 2px solid black;
      border-radius: 25px;
    }
  }