body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}

.common-btn {
  background: linear-gradient(to bottom,#4567b7, #6495ed); /* added gradient effect */

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;

  &:hover {
    background-position: 100% 100%;
    background: linear-gradient(to bottom, #5f357e, #6c5ce7);
  }

  &:active {
    background: linear-gradient(to bottom, #4d0099, #6c00bf); /* changed gradient effect on active */
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
